/*+++++ Cars configs +++++*/

.accordion-button{
    color: $colorfont!Important;
    background-color: $colornav!Important;   
}

.accordion-item{
    color: $colorfont;
    background-color: $colornav;
}

.cars-style{
    padding: 2rem;
}