
//  General
$colornav: #002649; 
$bodycolor: #00335f;
$colorfont: white;
$spancolor: rgb(179, 179, 179);


//  Table races
$colortable: rgb(133, 133, 133);
$tablebackground: rgba(255, 255, 255, 0.2);
$tabletittle: rgba(255, 255, 255, 0.4);
$tablewin: gold;

// Team page

$colordrivers: rgba(0, 132, 248, 0.678);
$borderdrivers: rgb(0, 84, 158);

