
//  General
$colornav: rgb(0, 38, 73); 
$bodycolor: rgb(0, 51, 95);
$colorfont: rgb(255, 255, 255);
$spancolor: rgb(179, 179, 179);


//  Table races
$colortable: rgb(133, 133, 133);
$tablebackground: rgba(255, 255, 255, 0.2);
$tabletittle: rgba(255, 255, 255, 0.4);
$tablewin: rgb(255, 215, 0);

// Team page

$colordrivers: rgba(0, 132, 248, 0.678);
$borderdrivers: rgb(0, 84, 158);
$bluecolor: rgb(0, 136, 255);
$cyancolor: rgb(0, 247, 255);
$redcolor: rgb(158, 0, 0);
$aquacolor: rgb(0, 158, 132); 
