.drivers-img{
    width: 12rem;
    height: 10rem;
}

.checo img, .max img {
    border: 0.5ch solid $borderdrivers ;
    border-radius: 5px;
}

.cars-style{
    padding: 2rem;
}

.max{
    padding: 2rem;
}

.checo{
    padding: 2rem;
}