@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*+++++ GENERAL CONFIGS +++++*/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 51, 95);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

h1 {
  margin-top: 3rem;
  padding: 3vh;
  text-align: center;
}

h2, h4 {
  padding: 5vh;
  text-align: center;
}

.footer1, .footer2 {
  padding: 1rem 1rem;
}

.footer1__headings {
  padding: 1rem 0;
  font-size: calc(0.7rem + 0.6vw);
}
.footer1__headings a {
  font-weight: bolder;
}

.footer2__headings {
  padding: 1rem 0;
  font-size: calc(0.7rem + 0.6vw);
}
.footer2__headings a {
  font-weight: bolder;
}

i {
  padding-right: 0.3rem;
}

span {
  color: rgb(179, 179, 179);
}

/*+++++ NAV +++++*/
.color-nav {
  background-color: rgb(0, 38, 73);
}

#offcanvasDarkNavbar {
  background-color: rgb(0, 38, 73) !important;
}

/*+++++ ANCHOR STYLE +++++*/
a {
  color: rgb(255, 255, 255);
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

/*+++++ carousel +++++*/
.carousel {
  margin: auto;
}

/*+++++ Grids Configs +++++*/
.index-grid {
  display: flex;
  flex-direction: column;
  grid-template-areas: "nav" "contenido" "contenido2" "footer";
  gap: 40px;
}
.index-grid .contenido1 {
  grid-area: contenido;
  text-align: center;
}
.index-grid .contenido1 div {
  padding: 20px;
}
.index-grid .contenido2 {
  grid-area: contenido2;
  text-align: center;
}

nav {
  grid-area: nav;
}

footer {
  color: white;
  grid-area: footer;
  display: flex;
  padding: 5vh 0vh;
  justify-content: space-around;
}

.pilotos-grid {
  display: grid;
  flex-direction: column;
  grid-template-areas: "nav" "max" "checo" "teamred" "footer";
}

.teamred {
  grid-area: teamred;
  padding: 1rem;
}

.maxGrid {
  grid-area: max;
  margin-left: 2vh;
}

.checoGrid {
  grid-area: checo;
  margin-right: 2vh;
}

/*+++++ Index configs +++++*/
.img-index {
  height: 15rem;
  width: 17rem;
}

.desktop {
  display: none;
}

/*+++++ Races Table +++++*/
.data-table__table {
  margin: auto;
  height: 0;
  width: 98%;
  border: 1px solid rgb(133, 133, 133);
  border-collapse: collapse;
  border-radius: 30px;
}
.data-table__table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.data-table__table td, .data-table__table th {
  padding: 0.25rem;
  text-align: left;
  border-collapse: collapse;
}
.data-table__table .result_table-row-highlighted {
  font-weight: 600;
  color: rgb(255, 215, 0);
}
.data-table__table .data-table__column-title {
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.4);
}

/*+++++ Drivers +++++*/
.drivers-img {
  height: 10rem;
  width: 12rem;
}

.checo, .max {
  padding: 2rem;
  text-align: center;
}
.checo img, .max img {
  border: 0.5ch solid rgb(0, 84, 158);
  border-radius: 5px;
}

/*+++++ Cars configs +++++*/
.accordion-button {
  color: rgb(255, 255, 255) !important;
  background-color: rgb(0, 38, 73) !important;
}

.accordion-item {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 38, 73);
}

.cars-style {
  padding: 2rem;
}

/*+++++ Media Queries +++++*/
@media (min-width: 580px) {
  td, th {
    padding: 2rem;
  }
  .footer1, .footer2 {
    padding: 3vh 3vh;
  }
  .footer1__headings {
    padding: 1.5rem 0;
    font-size: calc(1.3rem + 0.6vw);
  }
  .footer2 {
    padding: 3vh 3vh;
  }
  .footer2__headings {
    padding: 1.5rem 0;
    font-size: calc(1.3rem + 0.6vw);
  }
  .mobile {
    display: contents;
  }
  .desktop {
    display: inline-flex;
  }
}
@media (min-width: 860px) {
  .img-index {
    height: 25rem;
    width: 30rem;
  }
  .teamred {
    padding: 0 5rem;
  }
}
@media (min-width: 1200px) {
  .index-grid {
    grid-template-areas: "nav nav" "contenido contenido" "contenido2 contenido2" "footer footer";
  }
  .img-index {
    height: 30rem;
    width: 35rem;
  }
  .drivers-img {
    height: 19rem;
    width: 27rem;
  }
  .pilotos-grid {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 1fr 1fr 0.6fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header header header header" "nav nav nav nav nav" "max max . checo checo" "teamred teamred teamred teamred teamred" "footer footer footer footer footer";
  }
  .checo, .max {
    background-color: rgba(0, 132, 248, 0.678);
    border-radius: 2em;
    padding: 1vh;
    font-size: 70%;
  }
  .max {
    background-color: rgba(0, 132, 248, 0.678);
    border-radius: 2em;
    padding: 1vh;
    font-size: 70%;
  }
  .footer1, .footer2 {
    padding: 5vh 20vh;
  }
  .footer2 {
    padding: 5vh 20vh;
  }
}
@media (min-width: 1400px) {
  .max {
    font-size: 100%;
  }
  .checo, .max {
    font-size: 100%;
  }
}/*# sourceMappingURL=style.css.map */